src/c/*.suo
src/c/*.user
src/c/*.Dot*s
src/c/wrapperinfo.c
src/c/wrapper32_*
src/c/decoderJNI_*
src/c/Release/*
src/c/Debug/*
src/c/_Resharper*
src/c/wrapper32*props
src/c/ipch/*
src/java/org/tanukisoftware/wrapper/WrapperInfo.java
src/c/org_tanukisoftware_wrapper_WrapperManager.h
bin
build
conf
lib
test
